.account {

  position: relative;
  display: flex;
  align-items: center;

  margin-right: 40px;
  
  &__img {
    width: 22px;
    height: 22px;
    margin-right: 9px;
    border-radius: 50%;
    background-image: url(../images/users/Oval1.svg);
  }

  &__pseudo-select {
    margin-right: 16px;

    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.28px;
    color: #252f48;
  }

  &__select::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 100%;
    width: 15px;
    
    cursor: pointer;
    background-image: url(../images/Shape.svg);
    background-position: 50%;
    background-repeat: no-repeat;
  }
}
